.case-main__wrapper
	height: 900rem
	background: $dark_bg
	padding-top: 250rem
	width: 100%
	&::before
		content: ''
		width: 352rem
		height: 372rem
		position: absolute
		top: 298rem
		left: 293rem
		filter: blur(200rem)
		background: linear-gradient(180deg, #26B1A0 0%, #2FD4C7 100%)
.case-main-wrap
	display: flex
	justify-content: space-between
.case-main__title
	font-size: 60rem
	font-family: "Montserrat",sans-serif
	font-weight: 700
	width: 870rem
	color: #fff
.case-information
	margin-top: -320rem
.case-main__description
	width: 609rem
	font-size: 22rem
	color: #fff
.case-descr
	padding-top: 200rem
	padding-bottom: 200rem
.case-descr-line
	display: flex
	margin-bottom: 100rem
	justify-content: space-between
	&:last-child
		margin-bottom: 0
.case-descr__more
	width: 1000rem
	& p
		font-size: 22rem
.case-descr__list
	list-style: none
	padding-left: 0
.case-descr__item
	font-weight: 500
	font-size: 27rem
	line-height: 35.1rem
	font-family: "PTRootUI", sans-serif
.case-descr-result
	width: 1000rem
	display: flex
.case-descr-result__title
	font-size: 33rem
	font-family: "Montserrat", sans-serif
	color: $dark_mint
	font-weight: 900
	margin-bottom: 10rem
.case-descr-result__description
	font-size: 22rem
	line-height: 26.4rem
.case-descr-result__item
	margin-right: 70rem
.case-descr__title
	display: flex
.case-descr__num
	margin-right: 30rem
	display: block
	font-size: 33rem
	font-family: "Montserrat", sans-serif
	color: $dark_mint
	padding-top: 4.5rem
.case-descr__name
	font-family: "Montserrat", sans-serif
	font-weight: 700
	font-size: 50rem
	line-height: 55rem
.case-slider
	padding-top: 200rem
	padding-bottom: 200rem
	background: #DEDEDE
.case-main-slider
	& .flickity-button
		display: none
	.is-selected
		transition: transform .25s
		transform: scale(1.09)
.case-main-slide
	width: 720rem
	margin-left: 140rem
	transition: transform .25s
	transform: scale(1)
	& img
		width: 100%
.case-slider__wrapper
	position: relative
.case-main__bg
	position: absolute
	top: 50%
	margin-top: -290rem
	left: 50%
	margin-left: -375rem
	z-index: 4
	width: 750rem
	& img
		width: 100%
.case-main__arrrows
	position: absolute
	width: 960rem
	height: 36rem
	left: 50%
	margin-left: -480rem
	display: flex
	justify-content: space-between
	top: 50%
	margin-top: -36rem
.case-main__next
	z-index: 4
	cursor: pointer
.case-main__prev
	z-index: 4
	cursor: pointer
.case-next
	padding-top: 200rem
	padding-bottom: 200rem
.case-next__wrapper
	display: flex
	justify-content: space-between
.case-next__preview
	width: 740rem
.case-next__name
	display: flex
	flex-direction: column
	justify-content: center
	width: 624rem
	&:hover
		& .case-next__next
			color: $mint
			& svg line
				stroke: $mint
.case-next__title
	font-weight: 700
	font-family: "Montserrat",sans-serif
	font-size: 50rem
	line-height: 110%
.case-next__next
	display: flex
	align-items: center
	margin-bottom: 30rem
	transition: color .25s
	& svg
		margin-left: 20rem
		width: 48rem
		& line
			transition: stroke .25s
.case-slider-two-wrapper
	position: relative
.case-slider-two
	width: 100%
	padding-top: 55rem
	padding-bottom: 30rem
	.is-selected
		transition: transform .25s
		transform: scale(1) !important
	& .flickity-button
		display: none
	& .progress-bar
		height: 20px
		width: 0
		background: #333

.case-main-slide-two
	width: 740rem
	transform: scale(0.72)
	transition: transform .25s
	margin-right: 170rem
.case-slder-two__arrows
	width: 995rem
	display: flex
	justify-content: space-between
	position: absolute
	left: 50%
	margin-left: -497rem
	cursor: pointer
	top: 50%
	& svg
		width: 20rem
		height: 35rem
.case-slider-progress-wrap
	display: flex
	width: 680rem
	justify-content: space-between
	margin-left: auto
	margin-right: auto
	margin-top: 110rem
	align-items: center
.case-slider-two-progress
	width: 480rem
	background: #dedede
	border-radius: 5rem
	height: 10rem
.case-slider-two-progress-bar
	background: #26B1A0
	border-radius: 5rem
	height: 10rem
	width: 0
.case-slider__progress__current
	font-weight: 700
	font-size: 33rem
.case-slider__progress__total
	font-weight: 700
	font-size: 33rem
.case-slider-three
	padding-top: 231rem
	padding-bottom: 200rem
	background: #DEDEDE
	padding-left: 316rem
	width: 100%
	.flickity-slider
		width: 100%
	.case-main-slide__three
		width: 381rem
		height: 821rem
		transition: transform .25s
		margin-right: 130rem
		& img
			height: 100%
			width: 100%
		&:not(.is-selected)
			//margin-right: 10rem
			transform: scale(.91)
	.is-selected
		transform: scale(1)
.case-slider-three-wrapper
	position: relative
.case-main-slider-three
	width: 100%
.case-slider-three-cover
	position: absolute
	width: 456rem
	height: 900rem
	top: -31rem
	left: -33rem
	z-index: 3
.case-slider-three-arrows
	position: absolute
	display: flex
	width: 552rem
	top: 50%
	margin-top: -35rem
	z-index: 5
	left: -85rem
	justify-content: space-between
.case-slider-three-arrow__prev,
.case-slider-three-arrow__next
	cursor: pointer
.case-slider-four
	padding-top: 200rem
	padding-bottom: 200rem
	background: #DEDEDE
.case-slider-was-will
	width: 1052rem
	display: flex
	justify-content: space-between
	margin-left: auto
	margin-right: auto
	margin-bottom: 120rem
.case-slider-was,
.case-slider-will
	width: 456rem
.case-slider-was__image,
.case-slider-will__image
	display: flex
	justify-content: center
	align-items: center
	position: relative
	& img
		width: 381rem
		height: 825rem
.case-slider-was__cover,
.case-slider-will__cover
	position: absolute
	top: -31rem
	width: 456rem
	height: 900rem
	& img
		width: 100%
		height: 100%
.case-slider-was__title,
.case-slider-will__title
	margin-bottom: 65rem
	text-align: center
	font-weight: 700
	font-size: 50rem
	position: relative
	letter-spacing: 0.05em
.case-slider-was__title:after
	content: ''
	position: absolute
	width: 300rem
	height: 1rem
	background: #000
	top: 50%
	right: -215rem
.case-slider-main-four__wrapper
	position: relative
.case-slider-main-four__arrows
	width: 1300rem
	display: flex
	justify-content: space-between
	align-items: center
	position: absolute
	top: 50%
	margin-top: -35rem
	left: 50%
	margin-left: -650rem
.case-slider-main-four
	padding-top: 150rem
.case-slider-main-four__slider
	width: 1129rem
	margin-left: auto
	margin-right: auto
.case-slider-main-four__title
	font-size: 50rem
	font-weight: 700
	letter-spacing: 0.05em
	text-align: center
	position: relative
	margin-bottom: 100rem
	&::before
		content: ''
		position: absolute
		top: -150rem
		height: 100rem
		width: 1rem
		left: 50%
		background: #000
.case-slider-main-four__slide
	width: 349rem
	height: 758rem
	margin-left: 40rem
	border-radius: 10px
.case-slider-main-four__prev,
.case-slider-main-four__next
	cursor: pointer
	& svg
		width: 20rem
		height: 35rem
