.contactus
	padding-top: 350rem
	padding-bottom: 200rem
	@media only screen and (max-width: 650px)
		padding-top: 70rem
		padding-bottom: 70rem
.contactus-page
	padding-top: 200rem
	@media only screen and (max-width: 650px)
		padding-top: 0
.contactus__title
	font-size: 60rem
	font-family: "Montserrat",sans-serif
	font-weight: 900
	text-align: center
	text-transform: uppercase
	position: relative
	margin-bottom: 100rem
	@media only screen and (max-width: 650px)
		font-size: 27rem
		margin-bottom: 50rem
	& span
		position: relative
		&:before
			content: ''
			position: absolute
			width: 2rem
			height: 100rem
			top: -150rem
			left: 50%
			background: $dark_bg
			@media only screen and (max-width: 650px)
				height: 50rem
				top: -70rem
				left: 65rem
		&:after
			content: ''
			position: absolute
			width: 493rem
			height: 493rem
			bottom: -206rem
			left: 155rem
			border-radius: 50%
			background: linear-gradient(180deg, rgba(38, 177, 160, 0.2) 0%, rgba(47, 212, 199, 0.2) 100%)
			filter: blur(200rem)
			@media only screen and (max-width: 650px)
				display: none
.contactus__wrapper
	display: flex
	justify-content: space-between
	@media only screen and (max-width: 650px)
		flex-wrap: wrap
.contactus-form
	position: relative
	&:before
		content: ''
		position: absolute
		width: 741rem
		height: 741rem
		border-radius: 50%
		top: -44rem
		left: -42rem
		background: linear-gradient(180deg, rgba(38, 177, 160, 0.2) 0%, rgba(47, 212, 199, 0.2) 100%)
		filter: blur(200rem)
.contactus-form__title
	font-weight: 900
	font-size: 27rem
	margin-bottom: 80rem
	font-family: "Montserrat", sans-serif
	text-transform: uppercase
	@media only screen and (max-width: 650px)
		text-align: left
		font-size: 18rem
		margin-bottom: 30rem
.contactus-contacts
	width: 490rem
	font-size: 27rem
	font-weight: 600
	position: relative
	&:before
		content: '&'
		position: absolute
		font-size: 90rem
		font-weight: 400
		top: 0
		line-height: 0.8
		left: -133rem
	@media only screen and (max-width: 650px)
		width: 100%
		font-size: 15rem
.contactus__form
	width: 738rem
	position: relative
	@media only screen and (max-width: 650px)
		width: 100%
		flex-wrap: wrap
.contactus__line
	display: flex
	margin-bottom: 70rem
	justify-content: space-between
	align-items: center
	&:nth-child(4)
		margin-bottom: 20rem
	@media only screen and (max-width: 650px)
		flex-wrap: wrap
		margin-bottom: 0
		&:nth-child(4)
			margin-bottom: 14rem
.contactus__input
	border: none
	border-bottom: 1rem solid $dark_bg
	position: relative
	padding-bottom: 10rem
	color: $dark_bg
	background: transparent
	&:focus
		transition: border-bottom .25s
		border-bottom: 2rem solid $mint
	@media only screen and (max-width: 650px)
		margin-bottom: 30rem
		padding-bottom: 4rem
.contactus__button
	width: 308rem
	height: 59rem
	font-size: 22rem
	font-family: 'PTRootUI'
	font-weight: 500
	display: flex
	justify-content: space-between
	padding: 15rem 30rem
	align-items: center
	background: transparent
	border: 2rem solid $dark_bg
	transition: all .25s
	cursor: pointer
	& svg
		width: 40rem
	&:hover
		border: 2rem solid $mint
		background: $mint
		color: #fff
		& svg line
			stroke: #fff
	@media only screen and (max-width: 650px)
		width: 180rem
		font-size: 16rem
		padding: 10rem 25rem
		height: auto
		& svg
			width: 37rem
.contactusFile
	display: flex
	align-items: center
	cursor: pointer
	& img
		width: 26rem
	@media only screen and (max-width: 650px)
		align-items: start
		width: 75rem
		& img
			width: 17rem
.contactus__file
	display: none
.contactusFile__name
	font-family: "PTRootUI"
	color: #161616
	margin-left: 7rem
	@media only screen and (max-width: 650px)
		font-size: 11rem
.contactus__refference
	width: 488rem
	color: #9A9A9A
	@media only screen and (max-width: 650px)
		font-size: 11rem
		width: 100%
		margin-bottom: 40rem
.contactus-info
	margin-top: 80rem
	@media only screen and (max-width: 650px)
		margin-top: 40rem
.contactus-info__list
	padding-left: 0
	list-style: none
	font-family: "PTRootUI"
	font-weight: 400
	@media only screen and (max-width: 650px)
		margin-top: 15rem
		margin-bottom: 0
.contactus-info__item
	margin-bottom: 10rem
	&:last-child
		margin-bottom: 0
	& a
		transition: color .25s
		&:hover
			color: $mint
.link
	& a
		position: relative
		&::before
			content: ''
			width: 100%
			position: absolute
			bottom: 0
			left: 0
			height: 2rem
			background: $dark_bg
			transition: width .25s
		&:hover
			color: $mint
			&:before
				width: 0
.contactus-info__title
	@media only screen and (max-width: 650px)
		font-size: 20rem
